In [17]:
import urllib.request,re
import requests
import numpy as np
import pandas as pd
import numpy as np
import time
import bs4

# Delivery_food номера

In [7]:
#Загружаем отсегментированые сайты
df888 = pd.read_csv('C:/Users/mbabaeva/Documents/CLUSTERING/Cluster_of_16/sites_test/Delivery_food.csv')
df4=df888['url']
df6 = df888['text']
df5 = df4[0]
len(df4)

1081

In [8]:
df888.head(3)

               url    count                                               text
0      setsushi.ru  21631.0  Доставка суши в Москве бесплатно, заказать нед...
1  sushi-master.ru  15011.0  Суши Мастер - сеть ресторанов доставки блюд яп...
2        da-eda.ru  10479.0  Да-еда - Заказать еду домой и в офис в Ижевске...

In [10]:
%time
start = time.time()

sites_list = []
for k in df4:
    try:
        f = urllib.request.urlopen('http://'+k) 
        s = f.read().decode('utf-8')
        phones = re.findall(r"\+?[z7-8]+\s?\(?\d{3}\)?[-]?\s?\d{3}[-.\s]?\d{2}[-.\s]?\d{2}",s)
        df = pd.DataFrame({'col':phones})
        df1=df.col.apply(lambda x: x.replace('+','').replace(' ','').replace('(','').replace(')','').replace('-',''))
        df1 = df1.drop_duplicates(keep='first')
        el_list = []
        for el in df1:
            if len(el)==11 and el not in el_list:
                el = el[1:]
                el_list.append(el)
        sites_list.append(el_list)

    except:
        phones = []
        sites_list.append(phones)
#s=s.decode('latin-1')utf-8
end = time.time()
print(end - start)

list_a=[]
for i in range(0, len(df4)):
    df_t = pd.DataFrame({'col':sites_list[i]})
    df_t['url'] = df4[i]
    df_t['text'] = df6[i]
    list_a.append(df_t)
df_ff5 = pd.concat(list_a, ignore_index=True)

Wall time: 0 ns
1792.4418737888336

In [42]:
#df_ff5['col'].to_csv('test/deliveryfoodnumbers.csv', index=False)
len(df_ff5)

4126

In [11]:
df_ff5.to_csv('test/deliveryfoodnumbersall.csv', index=False) #загружаем на кластер

In [14]:
df_ff5.head(2)

,col,url,text
0,8007075550,sushi-master.ru,Суши Мастер - сеть ресторанов доставки блюд яп...
1,3275820704,sushi-master.ru,Суши Мастер - сеть ресторанов доставки блюд яп...

# Investicii

In [36]:
df111 = pd.read_csv('C:/Users/mbabaeva/Documents/CLUSTERING/Cluster_of_16/sites_test/Investicii.csv')
df4=df111['url']
df6 = df111['text']
df5 = df4[0]
len(df4)

408

In [37]:
%time
start = time.time()

sites_list = []
for k in df4:
    try:
        f = urllib.request.urlopen('http://'+k) 
        s = f.read().decode('utf-8')
        phones = re.findall(r"\+?[z7-8]+\s?\(?\d{3}\)?[-]?\s?\d{3}[-.\s]?\d{2}[-.\s]?\d{2}",s)
        df = pd.DataFrame({'col':phones})
        df1=df.col.apply(lambda x: x.replace('+','').replace(' ','').replace('(','').replace(')','').replace('-',''))
        df1 = df1.drop_duplicates(keep='first')
        el_list = []
        for el in df1:
            if len(el)==11 and el not in el_list:
                el = el[1:]
                el_list.append(el)
        sites_list.append(el_list)

    except:
        phones = []
        sites_list.append(phones)
#s=s.decode('latin-1')utf-8
end = time.time()
print(end - start)

list_a=[]
for i in range(0, len(df4)):
    df_t = pd.DataFrame({'col':sites_list[i]})
    df_t['url'] = df4[i]
    df_t['text'] = df6[i]
    list_a.append(df_t)
df_ff = pd.concat(list_a, ignore_index=True)

#df_ff['col'].to_csv('test/Investiciinumbers.csv', index=False)

Wall time: 3.91 ms
1063.1541047096252

In [38]:
len(df_ff)

1447

In [39]:
df_ff.to_csv('test/Investiciinumbersall.csv', index=False)# загружаем в таблицу на кластер

# Ford_Interest

In [33]:
df999 = pd.read_csv('C:/Users/mbabaeva/Documents/CLUSTERING/Cluster_of_16/sites/Cars_models/Ford_interest_sites.csv')
df4=df999['url']
df6 = df999['text']
df5 = df4[0]
len(df4)

23

In [34]:
%time
start = time.time()

sites_list = []
for k in df4:
    try:
        f = urllib.request.urlopen('http://'+k) 
        s = f.read().decode('utf-8')
        phones = re.findall(r"\+?[z7-8]+\s?\(?\d{3}\)?[-]?\s?\d{3}[-.\s]?\d{2}[-.\s]?\d{2}",s)
        df = pd.DataFrame({'col':phones})
        df1=df.col.apply(lambda x: x.replace('+','').replace(' ','').replace('(','').replace(')','').replace('-',''))
        df1 = df1.drop_duplicates(keep='first')
        el_list = []
        for el in df1:
            if len(el)==11 and el not in el_list:
                el = el[1:]
                el_list.append(el)
        sites_list.append(el_list)

    except:
        phones = []
        sites_list.append(phones)
#s=s.decode('latin-1')utf-8
end = time.time()
print(end - start)

list_a=[]
for i in range(0, len(df4)):
    df_t = pd.DataFrame({'col':sites_list[i]})
    df_t['url'] = df4[i]
    df_t['text'] = df6[i]
    list_a.append(df_t)
df_ff3 = pd.concat(list_a, ignore_index=True)

df_ff3['col'].to_csv('test/fordinterestnumbers.csv', index=False)

Wall time: 0 ns
34.50327801704407

In [35]:
df_ff3.to_csv('test/fordinterestnumbersall.csv', index=False)

# Rent_Property

In [2]:
df222 = pd.read_csv('C:/Users/mbabaeva/Documents/CLUSTERING/Cluster_of_16/sites_test/Rent_Property_1.csv')
df4=df222['url']
df6 = df222['text']
df5 = df4[0]
len(df4)

634

In [3]:
%time
start = time.time()

sites_list = []
for k in df4:
    try:
        f = urllib.request.urlopen('http://'+k) 
        s = f.read().decode('utf-8')
        phones = re.findall(r"\+?[z7-8]+\s?\(?\d{3}\)?[-]?\s?\d{3}[-.\s]?\d{2}[-.\s]?\d{2}",s)
        df = pd.DataFrame({'col':phones})
        df1=df.col.apply(lambda x: x.replace('+','').replace(' ','').replace('(','').replace(')','').replace('-',''))
        df1 = df1.drop_duplicates(keep='first')
        el_list = []
        for el in df1:
            if len(el)==11 and el not in el_list:
                el = el[1:]
                el_list.append(el)
        sites_list.append(el_list)

    except:
        phones = []
        sites_list.append(phones)
#s=s.decode('latin-1')utf-8
end = time.time()
print(end - start)

list_a=[]
for i in range(0, len(df4)):
    df_t = pd.DataFrame({'col':sites_list[i]})
    df_t['url'] = df4[i]
    df_t['text'] = df6[i]
    list_a.append(df_t)
df_ff1 = pd.concat(list_a, ignore_index=True)

df_ff1['col'].to_csv('test/rentpropertynumbers.csv', index=False)

Wall time: 0 ns
867.1094677448273

In [4]:
len(df_ff1)

3666

In [5]:
df_ff1.to_csv('test/rentpropertynumbersall.csv', index=False) #загружаем на кластер

# Theatres

In [15]:
df333 = pd.read_csv('C:/Users/mbabaeva/Documents/CLUSTERING/Cluster_of_16/sites_test/Theater_for_call.csv')
df4=df333['url']
#df6 = df333['text']
df5 = df4[0]
len(df4)

457

In [8]:
%time
start = time.time()

sites_list = []
for k in df4:
    try:
        f = urllib.request.urlopen('http://'+k) 
        s = f.read().decode('utf-8')
        phones = re.findall(r"\+?[z7-8]+\s?\(?\d{3}\)?[-]?\s?\d{3}[-.\s]?\d{2}[-.\s]?\d{2}",s)
        df = pd.DataFrame({'col':phones})
        df1=df.col.apply(lambda x: x.replace('+','').replace(' ','').replace('(','').replace(')','').replace('-',''))
        df1 = df1.drop_duplicates(keep='first')
        el_list = []
        for el in df1:
            if len(el)==11 and el not in el_list:
                el = el[1:]
                el_list.append(el)
        sites_list.append(el_list)

    except:
        phones = []
        sites_list.append(phones)
#s=s.decode('latin-1')utf-8
end = time.time()
print(end - start)

list_a=[]
for i in range(0, len(df4)):
    df_t = pd.DataFrame({'col':sites_list[i]})
    df_t['url'] = df4[i]
    #df_t['text'] = df6[i]
    list_a.append(df_t)
df_ff = pd.concat(list_a, ignore_index=True)

#df_ff['col'].to_csv('test/Investiciinumbers.csv', index=False)

Wall time: 0 ns
352.77819442749023

In [13]:
df_ff.to_csv('test/theatres_numbers.csv', index=False)

In [12]:
df_ff

            col                              url
0    9624849797                    teatr.orel.ru
1    4862430208                    teatr.orel.ru
2    9607548999                    teatr.orel.ru
3    3438760594                    teatr.orel.ru
4    8129972042                   detskyteatr.ru
5    1879781985                   detskyteatr.ru
6    2899436951                 teatrkukol-73.ru
7    1377920770                 teatrkukol-73.ru
8    4997480038             teatr-zhar-ptitsa.ru
9    9149045124             teatr-zhar-ptitsa.ru
10   4997480040             teatr-zhar-ptitsa.ru
11   4997480040             teatr-zhar-ptitsa.ru
12   5508016438             teatr-zhar-ptitsa.ru
13   4997480038             teatr-zhar-ptitsa.ru
14   9536743582                teatrbudushego.ru
15   3133343732                teatrbudushego.ru
16   2442388889                teatrbudushego.ru
17   6465663663                teatrbudushego.ru
18   0209944682                teatrbudushego.ru
19   0210011265                teatrbudushego.ru
20   6662646265                teatrbudushego.ru
21   9015369309                teatrbudushego.ru
22   9015369311                teatrbudushego.ru
23   9015372784                teatrbudushego.ru
24   9015375269                teatrbudushego.ru
25   9015375270                teatrbudushego.ru
26   9015375275                teatrbudushego.ru
27   9015375306                teatrbudushego.ru
28   9015375321                teatrbudushego.ru
29   9015375323                teatrbudushego.ru
..          ...                              ...
929  3525431008                  ugolokdurova.ru
930  3433503005                     uralkukla.ru
931  3433507583                     uralkukla.ru
932  3433508101                     uralopera.ru
933  3433508057                     uralopera.ru
934  3433880732                       uraltuz.ru
935  3800766039                    volskdrama.ru
936  5714285714                    volskdrama.ru
937  4732555472                 voronezhdrama.ru
938  4797310274                          vvdt.ru
939  0740462962  xn----8sbogebt9bkebc6j.xn--p1ai
940  6334586082  xn----8sbogebt9bkebc6j.xn--p1ai
941  2462548068  xn----8sbogebt9bkebc6j.xn--p1ai
942  4371654632  xn----8sbogebt9bkebc6j.xn--p1ai
943  6831301689  xn----8sbogebt9bkebc6j.xn--p1ai
944  3517752228      xn--74-dlcmnl3ap1d.xn--p1ai
945  4798517674                        yartuz.ru
946  9387169721                        yartuz.ru
947  4798584320                        yartuz.ru
948  4798519359                        yartuz.ru
949  4798517980                        yartuz.ru
950  4798523135                        yartuz.ru
951  4798510263                        yartuz.ru
952  3640907961                yatk.yaroslavl.ru
953  9898009585             yelizarovtheatre.com
954  9787886901             yelizarovtheatre.com
955  9789177004             yelizarovtheatre.com
956  3285181363             yelizarovtheatre.com
957  9014993738                       zabuzor.ru
958  3054733276                       zabuzor.ru

[959 rows x 2 columns]